* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f8ff;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #87ceeb;
    color: black;
    padding: 30px 20px;
    border-bottom-left-radius: 150%;
    border-bottom-right-radius: 150%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    margin-left: -50%;
}

#logo {
    flex: 1;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo h1 {
    font-size: 200%;
    font-weight: bold;
    margin: 0;
}

#back {
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#back button {
    background-color: transparent;
    border-radius: 50%;
    width: 35px;
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
}

#back img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav button {
    background-color: transparent;
    display: flex;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87ceeb;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20vh;
    height: 90%;
}

.title {
    font-size: 70%;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #000;
}

@media screen and (min-width: 768px) {
    .container {
        width: 50%;
        padding: 40px;
        margin-top: 15vh;
    }

    .title {
        font-size: 2rem;
    }

    nav {
        padding: 30px 50px;
    }

    #logo h1 {
        font-size: 2.5rem;
    }
}